	
	<%- include ../templates/sidenav.ejs %>	

	<div class="ui pusher">
		<div class="ui container">
			<div>
				<h1 style="float: left;" class="ui dividing header">Desordens</h1>
				<% if (sess.tipo == 3){ %>
					<a style="float: right;" href="/desordem/new" class="ui secondary basic button">Adicionar</a>
				<% } %>
			</div>

			<form onsubmit=" return validate(this);" method="post" action="/desordem/delete">
				<table class="ui celled table uitable">

					<thead>
					<tr class="center aligned">
						<th>Id</th>
						<th>Tipo</th>
						<th>Descrição</th>
						<th>Órgão</th>
						<% if(sess.tipo == 3){ %>
							<th>Excluir</th>
							<th>Editar</th>
						<% } %>
					</tr>
					</thead>

					<tbody>
					<% for(var i = 0; i < desordens.length; i++) { %>
					
					<tr class="center aligned">
						<td><%= desordens[i].des_iddesordem %></td>

						<% for(var j = 0; j < tipos.length; j++) { %>
							<% if(tipos[j].tde_idtipo_desordem == desordens[i].des_tipo){ %>
								<td><%= tipos[j].tde_nome  %></td>
						<% }} %>

						<td><%= desordens[i].des_descricao %></td>

						<% for(var k = 0; k < orgaos.length; k++) { %>
							<% if(orgaos[k].org_idorgao == desordens[i].org_idorgao){ %>
								<td><%= orgaos[k].org_nome  %></td>
						<% }} %>
						<% if(sess.tipo == 3){ %>
							<td><a  name="id_desordem" href="/desordens/<%= desordens[i].des_iddesordem %>/edit" class="links ui gray button">Editar</a></td>

							<td><a><button name="id_desordem" value=<%= desordens[i].des_iddesordem %> class="ui red button links">Excluir</button></a></td>
						<% } %>
					</tr>

					<% } %>
					</tbody>
				</table>
				
		
			</form>
		</div>
	</div>
	
	<%- include ../templates/bottom.ejs %>

	<script>
		var failed = <%-JSON.stringify(failed)%>;
		var id_desordem = <%-JSON.stringify(id_desordem)%>;
		var desordens = <%- JSON.stringify(desordens) %>;

		if (Object.values(failed) == 1) {
			alert("Existem denúncias relacionadas a esta desordem");
			
			failed = 0;

			window.location.replace("/denuncias?filtro_desordem=" + id_desordem);
		}
	</script>
	<script>
		var socket = io.connect('http://localhost:3000');
	
		socket.emit('my other event', { my: 'sistema desordens' });

	</script>