
	<%- include ../templates/sidenav.ejs %>	

	<div class="ui pusher">
		<div class="ui container">
			<h1 class="ui dividing header">Desordens</h1>

			<form method="post" action="/desordem/delete">
				<table class="ui celled table uitable">

					<thead>
					<tr class="center aligned">
						<th>Id</th>
						<th>Tipo</th>
						<th>Excluir</th>
						<th>Editar</th>
					</tr>
					</thead>

					<tbody>
					<% for(var i = 0; i < desordens.length; i++) { %>
					
					<tr class="center aligned">
						<td><%= desordens[i].des_iddesordem %></td>

						<% for(var j = 0; j < tipos.length; j++) { %>
							<% if(tipos[j].tde_idtipo_desordem == desordens[i].des_tipo){ %>
								<td><%= tipos[j].tde_nome  %></td>
						<% }} %>

						<td><a  name="id_desordem" href="/desordens/<%= desordens[i].des_iddesordem %>/edit" class="links ui gray button">Editar</a></td>

						<td><a><button name="id_desordem" type="submit" value=<%= desordens[i].des_iddesordem %> class="ui red button links">Excluir</button></a></td>
							
					</tr>

					<% } %>
					</tbody>
				</table>
				
			</form>
		</div>
	</div>
	

	<%- include ../templates/bottom.ejs %>