
	<%- include ../templates/sidenav.ejs %>
	
	<img src="/uploads/denuncia/0d6b5714de4d353d837e2be2230f728a.jpg" style="width: 100%;" alt="">
	<div class="ui pusher">	

		<div>
			<h1 class="ui dividing header">Usuários Cadastrados</h1>
		</div>
		<br>
		<div class="ui form">
			<div class="two fields">
				<div class="ui inline field">
					<label>Busca</label>
					<input id="busca" type="text">
				</div>
				<div class="field">
					<a style="float: right;" href="/usuarios/new" class="ui secondary basic button">Adicionar</a>
				</div>
			</div>
		</div>
		<br>

		<form onsubmit=" return validate(this);" method="post" action="/usuarios/delete">
			<table class="ui celled selectable table uitable">

			    <thead>
			      <tr class="center aligned">
				  	  <th>Picture</th>
			          <th>Login</th>
			          <th>Email</th>
			          <th>Confiabilidade</th>
					  <% if(sess.tipo == 3){ %>
						<th>Deletar</th>
						<th>Editar</th>
					  <% } %>
					  <th>Ver</th>
			      </tr>
			    </thead>

			    <tbody>
				<% for(var i = 0; i < usuarios.length; i++){ %>
			
			    
			      <tr class="center aligned">	
					<% for(var j = 0; j < fotos.length; j++){ %>
						<% if(fotos[j].fot_idusuario != usuarios[i].usu_idusuario){ %>
							<td>
							<div class="ui small circular">
							<img class="img_usuario responsive-img" src="../images/usuarios/no-image.png" width="50" />
							</div>
							</td>
							<% break; %>
						<% } %>
						<% if(fotos[j].fot_idusuario == usuarios[i].usu_idusuario){ %>
							<td><img class="img_usuario responsive-img" src="../images/usuarios/<%= fotos[j].fot_idusuario %>.jpg" width="50" /></td>
							<% } %>
					<% } %>
			        <td><%= usuarios[i].usu_login %></td>
			        <td><%= usuarios[i].usu_email %></td>
			    	<td><%= usuarios[i].usu_confiabilidade %></td>
					<% if(sess.tipo == 3){ %>
			    	<td>
			    		<button name="id_usuario" value=<%= usuarios[i].usu_idusuario %> class="ui red button">
			    			Deletar
			    		</button>
					</td>
					<td>
			    		<a name="id_usuario" href="/usuarios/<%= usuarios[i].usu_idusuario %>/edit" class="ui gray button">
			    			Editar
			    		</a>
					</td>
					<% } %>
					<td>
			    		<a name="id_usuario" href="/usuarios/<%= usuarios[i].usu_idusuario %>/show" class="ui gray button">
			    			Ver
			    		</a>
			    	</td>
			      </tr>

			    <% } %>
			    </tbody>
			</table>
			
		</form>
		
	</div>
	
	<%- include ../templates/bottom.ejs %>
	<script>
		$(document).ready(function(){
			$("#busca").on("keyup", function() {
				var value = $(this).val().toLowerCase();
				$("table tr").filter(function() {
				$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
				});
			});
		});
	</script>