
    <%- include ../templates/sidenav.ejs %>
    <% var found = 0; %>
    <div class="ui pusher">

        <h1 class="ui dividing header">Usuário nº <%= usuario.usu_idusuario %></h1>
        <table class="ui celled table uitable">
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>

            <tr>
                <td><strong>Login: </strong><%= usuario.usu_login %></td>
            </tr>
            <tr>
                <td><strong>Data de nascimento:</strong> <%= usuario.usu_nascimento %></td>
            </tr>
            <tr>
                <td><strong>CPF:</strong> <%= usuario.usu_cpf %></td>
            </tr>
            <tr>
                <td><strong>Nome: </strong><%= usuario.usu_nome %></td>
            </tr>
            <tr>
                <td><strong>Email: </strong><%= usuario.usu_email %></td>
            </tr>
            <tr>
                <td><strong>Nível de Confiabilidade: </strong><%= usuario.usu_confiabilidade %></td>
            </tr>
            <tr>
                <td><strong>Tipo: </strong><%= usuario.usu_tipo %></td>
            </tr>
            <tr>
                <td><strong>Telefone: </strong><%= usuario.usu_telefone %></td>
            </tr>
            <tr>
                <td><strong>Data de Cadastro: </strong><%= usuario.usu_data_cadastro %></td>
            </tr>
        </table>
        </div>
    </main>
<%- include ../templates/bottom.ejs %>