
    <%- include ../templates/sidenav.ejs %>
    <% var found = 0; %>
    <div class="ui pusher">
        <% fotos.forEach(function (foto){ %>
            <% if(foto.fot_idusuario == usuario.usu_idusuario){ %>
                <% found = 1; %>
                <h2 class="ui header">
                    <img src="/../images/usuarios/<%= foto.fot_idusuario %>.jpg" class="ui image">
                    Usuário nº: <%= usuario.usu_idusuario %>
                </h2>
            <% } %>
        <% }) %>
        <%  if(found == 0){%>
            <h2 class="ui header">
                <img src="/../images/usuarios/no-image.png" class="ui image">
                Usuário nº: <%= usuario.usu_idusuario %>
            </h2>
        <% } %>
        <!-- <h1 class="ui dividing header">Usuário nº <%= usuario.usu_idusuario %></h1> -->
        <table class="ui celled table uitable">
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>

            <tr>
                <td><strong>Login: </strong><%= usuario.usu_login %></td>
            </tr>
            <tr>
                <td><strong>Data de nascimento:</strong> <%= nascimento %></td>
            </tr>
            <tr>
                <td><strong>CPF:</strong> <%= usuario.usu_cpf %></td>
            </tr>
            <tr>
                <td><strong>Nome: </strong><%= usuario.usu_nome %></td>
            </tr>
            <tr>
                <td><strong>Email: </strong><%= usuario.usu_email %></td>
            </tr>
            <tr>
                <td><strong>Nível de Confiabilidade: </strong><%= usuario.usu_confiabilidade %></td>
            </tr>
            <tr>
                <td><strong>Tipo: </strong><%= usuario.usu_tipo %></td>
            </tr>
            <tr>
                <td><strong>Telefone: </strong><%= usuario.usu_telefone %></td>
            </tr>
            <tr>
                <td><strong>Data de Cadastro: </strong><%= cadastro %></td>
            </tr>
        </table>
	    
        <a style="float: left;" href="/usuarios" class="ui secondary basic button">Voltar</a>
        
        </div>
        
			
    </main>
<%- include ../templates/bottom.ejs %>