
    
    <%- include ../templates/sidenav.ejs %>

 <div class="ui pusher">
    <h1 class="ui dividing header">Editar usuário</h1>
    <form class="ui form" method="post" action="/orgaos/<%= usuario.usu_idusuario %>?_method=PUT">
      
      <div class="field">
        
          <label for="first_name">Nome</label>
          <input value=<%= usuario.usu_nome%> name="nome" type="text" class="validate">
        
      </div>
      <div class="field">
        
          <label>Email</label>
          <input value="<%= usuario.usu_email%>" name="email" type="email" class="validate">
        
      </div>
      <div class="field">
        
          <label>Login</label>
          <input value=<%= usuario.usu_login%> name="login" type="text" class="validate">
        
      </div>
      <div class="field">
        
          <label>Senha</label>
          <input value=<%= usuario.usu_senha %> name="senha" type="text" class="validate">
        
      </div>
      <div class="field">
        
          <label>Confiabilidade</label>
          <input value=<%= usuario.usu_confiabilidade %> name="confia" type="number" class="validate">
        
      </div>
      <div class="field">
        
          <label>Tipo</label>
          <input value=<%= usuario.usu_tipo%> name="tipo" type="text" class="validate">
        
      </div>
      <div class="field">
        
          <label>Data de nascimento</label>
          <input type="text" value=<%= usuario.usu_nascimento%> name="nascimento" class="date">
        
      </div>
      <div class="field">
        
          <label>CPF</label>
          <input value=<%= usuario.usu_cpf%> name="cpf" type="text" class="cpf validate">
        
      </div>
      <div class="field">
        
          <label>Telefone</label>
          <input value=<%= usuario.usu_telefone%> name="telefone" type="text" class="phone validate">
        
      </div>
      <div class="field">
        <button class="ui button primary" type="submit" name="action">Submit
        </button>
      </div>
    </form>
  </div>
    
    <%- include ../templates/bottom.ejs %>
