<!DOCTYPE html>
<html>
<head>
	<title>Apagar Desordem</title>
	<link rel="stylesheet" href="../css/materialize.css">
    <link rel="stylesheet" type="text/css" href="../css/admin.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
	<%- include sidenav.ejs %>
	<main>
		<form method="post" action="/orgaos/delete">
			<table >

			    <thead>
			      <tr>
			          <th>Nome</th>
			          <th>Descrição</th>
			          <th></th>
			      </tr>
			    </thead>

			    <tbody>
				<% for(var i = 0; i < orgaos.length; i++) {%>
			    
			      <tr>
			        <td><%= orgaos[i].org_nome %></td>
			        <td><%= orgaos[i].org_descricao %></td>
			    	<td><button name="id_orgao" type="submit" value=<%= orgaos[i].org_idorgao %> class="btn-flat"><i class="clear small material-icons">clear</i></button><a name="id_desordem" href="/orgaos/<%= orgaos[i].org_idorgao %>/edit" class="btn-flat"><i class="edit small material-icons">edit</i></a></td>
			      </tr>

			    <% } %>
			    </tbody>
			</table>
			
		</form>
	</main>
	<script src="../js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../js/materialize.js"></script>
    <script type="text/javascript" src="../js/init_dom.js"></script>
</body>
</html>