
    <%- include ../templates/sidenav.ejs %>

    <div class="ui pusher">
        <div class="ui container">
            
            <h1  class="ui dividing header">Denúncias Cadastradas</h1>

            <form class="ui small form" action="/denuncias" method="get">
                <div class="inline field">
                <label>Tipo de Desordem</label>
                <select name="filtro_desordem" onchange="this.form.submit();">
                    <option></option>
                    <option value="todas">Todas</option>
                    <% desordens.forEach(function (desordem){ %>
                        <% tipos.forEach(function (tipo){ %>
                            <% if(desordem.des_tipo == tipo.tde_idtipo_desordem){ %>
                            <option value="<%= desordem.des_iddesordem %>"><%= tipo.tde_nome %></option>
                            <% } %>
                        <% }) %>
                    <% }) %>
                </select>
                </div>
            </form>
            
            <table class="ui celled table uitable">
                <thead>
                    <tr class="center aligned">
                        <th>Número</th>
                        <th>Desordem</th>
                        <th>Status</th>
                        <th>Nível de Confiabilidade</th>
                        <th>Descrição</th>
                        <th>Anonimato</th>
                    </tr>
                </thead>
                <tbody>
                    <% denuncias.forEach(function (denuncia){ %>
                        <% if(denuncia.den_iddesordem  == filtro.filtro_desordem || filtro.filtro_desordem == null || filtro.filtro_desordem == "todas"){ %>
                            <tr class="center aligned">
                                <td><a href="../admin?denuncia=<%= denuncia.den_iddenuncia %>"><%= denuncia.den_iddenuncia %></a></td>
                                <% desordens.forEach(function (desordem){ %>
                                    <% tipos.forEach(function (tipo){ %>
                                    <% if(desordem.des_iddesordem == denuncia.den_iddesordem && tipo.tde_idtipo_desordem == desordem.des_tipo){ %>
                                        <td><%= tipo.tde_nome %></td>
                                    <% } %>
                                <% }) %>
                            <% }) %>
                            <td><%= denuncia.den_status %></td>
                            <td><%= denuncia.den_nivel_confiabilidade %></td>
                            <td><%= denuncia.den_descricao %></td>
                            <td><%= denuncia.den_anonimato %></td>
                        </td>
                        <% } 
                    })%> 
                </tbody>
            </table>
        </div>
    </div>

    <%- include ../templates/bottom.ejs %>
    