
    <%- include ../templates/sidenav.ejs %>

    <div class="ui pusher">
        <div class="ui container">
            <h1 class="ui dividing header">Denúncias</h1>
            <table class="ui celled table uitable">
                <thead>
                    <tr class="center aligned">
                        <th>Número</th>
                        <th>Desordem</th>
                        <th>Status</th>
                        <th>Nível de Confiabilidade</th>
                        <th>Descrição</th>
                        <th>Anonimato</th>
                        <hr>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i = 0; i < denuncias.length; i++){ %>
                        <tr class="center aligned">
                            <td><%= denuncias[i].den_iddenuncia %></td>
                            <td><%= denuncias[i].den_iddesordem %></td>
                            <td><%= denuncias[i].den_status %></td>
                            <td><%= denuncias[i].den_nivel_confiabilidade %></td>
                            <td><%= denuncias[i].den_descricao %></td>
                            <td><%= denuncias[i].den_anonimato %></td>
                        </td>
                    <% } %> 
                </tbody>
            </table>
        </div>
    </div>

    <%- include ../templates/bottom.ejs %>
    