
    <%- include ../templates/sidenav.ejs %>

    <div class="ui pusher">

        
        
        <h3>Denúncia nº <%= denuncia.den_iddenuncia %></h3>

        <form method="POST" action="/denuncias/denuncia-status">
            <div class="ui form">
                <div class="field">
                    <input name="denunciaid" style="display: none;" value="<%= denuncia.den_iddenuncia %>">
                    <label>Mudar Status Denúncia</label>
                    <select onchange="this.form.submit();" name="status" class="ui dropdown">
                        <option>--------------</option>
                        <option value="Solucionado">Solucionado</option>
                        <option value="Pendente">Pendente</option>
                        <option value="Sem solução">Sem solução</option>
                    </select>
                </div>
            </div>
        </form>
        
        <table class="ui celled table uitable">
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>

            <tr>
                <td><strong>Usuario: </strong><%= denuncia.usu_nome %></td>
            </tr>
            <tr>
                <td><strong>Data e hora do registro:</strong> <%= registro %></td>
            </tr>
            <tr>
                <td><strong>Data e hora que ocorreu:</strong> <%= ocorreu %></td>
            </tr>
            <tr>
                <td><strong>Data e hora da solução: </strong><%= solucao %></td>
            </tr>
            <tr>
                <td><strong>Status: </strong><%= denuncia.den_status %></td>
            </tr>
            <tr>
                <td><strong>Nível Confiabilidade: </strong><%= denuncia.den_nivel_confiabilidade %></td>
            </tr>
            <tr>
                <td><strong>Desordem: </strong><%= denuncia.des_descricao %></td>
            </tr>
            <tr>
                <td><strong>Descrição: </strong><%= denuncia.den_descricao %></td>
            </tr>
            <tr>
                <td><strong>Anonimato: </strong><%= denuncia.den_anonimato %></td>
            </tr>
        </table>

    </div class="ui pusher">
    <%- include ../templates/bottom.ejs %>